/* body {
  background-color: rgb(255, 222, 179);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  min-height: 100vh;
}
.cabecalho {
  color: rgb(63, 0, 63);
  margin-left: 18rem;
  width: fit-content;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
}

.conteudo {
  width: 380px;
  height: 560px;
  padding: 10px;
  overflow: auto;
  background-color: #b320b352;
  margin-top: 3rem;
  margin-right: -6em;
  border: 5px solid #423562;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff95ae4d;
    width: 324px;
    height: 324px;
    margin-top: -15rem;
    margin-right: -10rem;
    border: 5px solid #423562;
}

.foto {
  font-size: 20px;
  margin-top: 45px;
  padding: 5px;
  left: 65px;
}
 */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  width: 500px;
  height: 700px;
  background-color: pink;
}

.picture {
  position: absolute;
  width: fit-content;
  height: 450px;
  top: 4rem;
  right: -4rem;

}

img {
  width: auto;
  height: 100%;
}

.content {
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: rgb(110, 9, 94);
  bottom: -5rem;
  right: -11rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 15px;

}

.frame {
  position: absolute;
  width: 350px;
  height: 450px;
  background-color: transparent;
  top: 2rem;
  right: -7rem;
  border: 4px solid #5ba1f1;
}

.text {
  transform: rotate(-90deg);
  z-index: 1;
  position: absolute;
  bottom: 18rem;
  left: -14rem;
  font-size: 110px;
  font-weight: 600;
  opacity: 0.7;
  color: white;
}

.name {
  align-self: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.apresentacao {

  width: 400px;
  height: 500px;
  padding: 24px;
  margin-top: 1rem;

}